fastapi[standard]==0.115.4
uvicorn==0.32.0
filetype==1.2.0
llama-index-llms-openai==0.2.16
python-dotenv==1.0.1
python-multipart==0.0.17
boto3==1.35.54
git+https://github.com/huggingface/transformers.git
torch==2.5.1
torchvision==0.20.1
qwen-vl-utils==0.0.8
accelerate==1.1.1
einops==0.8.0
SQLAlchemy==2.0.36
psycopg2==2.9.10