fastapi[standard]==0.115.4
uvicorn==0.32.0
filetype==1.2.0
llama-index-llms-openai==0.2.16
python-dotenv==1.0.1
python-multipart==0.0.17
boto3==1.35.54
git+https://github.com/huggingface/transformers.git
torch==2.5.1
torchvision==0.20.1
qwen-vl-utils==0.0.8
accelerate==1.1.1
einops==0.8.0
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
pandas==2.2.3
opencv-python==4.11.0.86
scikit-learn==1.6.1
plotly==6.0.0
streamlit==1.42.2
watchdog==6.0.0
pillow==11.1.0
imagehash==4.3.2
tqdm==4.67.1
pytesseract==0.3.13
ultralytics==8.3.91
fastai<2.8.0
fastapi-limiter==0.1.6
redis==6.0.0
nest-asyncio==1.6.0